<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>INDIAN CULTURE AND HERITAGE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/css/bootstrap1.min.css}">
<link rel="stylesheet" th:href="@{/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>VIRTUAL TOUR</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Services</a>
      <a href="#about" class="w3-bar-item w3-button">About us</a>
      <a th:href="@{/contactus}" class="w3-bar-item w3-button">Contact us</a>
      <a th:href="@{/logout}" class="w3-bar-item w3-button">Logout</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1000px;margin-top: 7%;" id="home">
  <img class="w3-image" src="image/indianculture1.jpg" alt="Architecture" width="1000" height="100">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Services Our Website Provide</h3>
  </div>

<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
      <figure class="effect-ming tm-video-item">
        <img th:src="@{image/TirupatiTemple.jpg}" alt="Image" class="w3-image"  style="width:100%">
          <figcaption class="d-flex align-items-center justify-content-center">
             <h2>HISTORICAL PLACES</h2>
            <a th:href="@{/monuments}">View more</a>
           </figcaption>                    
        </figure>
</div>
<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5" style="margin-left: 40%;margin-top: -17%;">
      <figure class="effect-ming tm-video-item">
        <img th:src="@{image/Historical1234.jpg}" alt="Image" class="img-fluid" style="width:100%">
          <figcaption class="d-flex align-items-center justify-content-center">
             <h2>INDIAN HERITAGE AND CULTURE</h2>
            <a th:href="@{/culture}">View more</a>
           </figcaption>                    
        </figure>
</div>

   <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Our Website</h3>
    <p>This website is dedicated to inspiring interest in Indian culture, heritage, historical places, and famous monuments. Through our meticulously curated travel packages, we aim to take you on a journey where you can personally experience the stunning beauty of India and its diverse landscapes.  

We want you to witness breathtaking scenes that go beyond your imagination. The growing enthusiasm of Indian travelers to explore more motivates us to meet your travel needs and exceed expectations. Our vision of providing seamless vacation experiences makes us one of the leading tour operators in the ever-expanding travel industry.  

To ensure you have a fulfilling vacation and enriching experiences, our comprehensive travel services are always at your disposal. For international holidays, we equip you with essentials such as foreign exchange (Forex cards, currency notes), visas, and travel insurance.  

We are pioneers in foreign exchange in America, making online for booking simple and convenient.  

Our online visa services are exceptional, simplifying the otherwise cumbersome visa application process for our customers. We also offer specialized services, including visas, forex, travel insurance, and international remittance services, tailored for students traveling abroad for education.  

Whether you’re booking flights or accommodations for your trip, Virtual Tour In provides everything under one roof. We also offer cruise vacations for those seeking comfort and affordable luxury.  

Our top-selling travel packages come with the best discounts for loyal customers who choose our reliable services time and again. We aim not just to be your travel agents but to be your lifelong vacation partners.  

As an employee-owned travel company, our values, integrity, and commitment to exceptional customer service define us.  

Our award-winning company consistently ranks as one of the best agencies in the nation (Travel Weekly, Business Travel Weekly) and is a proud member of the prestigious Signature Travel Network. This global network enables us to provide our customers with unmatched benefits and exclusive experiences.  

We believe that satisfied employees lead to satisfied customers. The growth and success of our company depend on meeting our clients' needs every single day—a promise we stand by.  

Virtual Tour In is closely associated with Airlines and IATA. As members of IATA’s APJC (Agency Program Joint Council), we actively engage in discussions about airline practices. Our Airlines Council fosters strong connections with both domestic and international airlines.  

Additionally, Virtual Tour In works closely with the Ministry of Tourism, Government of America. We actively participate in tourism meetings organized by the government and collaborate with state tourism authorities.  

 </p>
  </div>

 
  
<!-- Image of location/map -->
<div class="w3-container">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-white w3-padding-16">
  <p>Developed by <a href="" title="W3.CSS" target="_blank" class="w3-hover-text-green">Virtual Tour - Team 05</a></p>
</footer>

</body>
</html>
